<div id="bettergrblsupport_wizard">
  <h3>Terms of Use</h3>
  <b>While every effort has been made to ensure the safety and stability of you and your machine, use of this software is done so at your own risk.  The author and contributors provide no warranty, written, or implied, in any way, shape, or form, related to you, your property, others, or the property of others.</b>
  <br>
  <br>
  If you refuse to accept these terms you are relinquishing your right to use this software.  By not agreeing to these terms and continuing to use this software, you are in violation of this agreement and your right to use this software is hereby revoked.
  <br>
  <br>
  Please visit the <a href="https://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank">Apache Software Foundation</a> website for more details.
  <br>
  <br>
  <h3>v2.1.0 Release Notes</h3>
  <ul>
    <li>5 point (9 point for center selected) frame z-Probing (Enabled in Plugin Settings)</li>
    <li>Choose from Highest, Lowest, Mean, and Average positions (selectable in Plugin Settings)</li>
    <li>Framing now lives in the Sidebar and has been renamed to "Material Framing"</li>
    <li>Auto Sleep ($SLP) Inactivity Timer for keeping your steppers cool when the machine is not busy</li>
    <li>Better handling with Octoprint for long running commands</li>
    <li>Toggle between MPos and WPos by clicking the Mode display in Grbl Control tab</li>
    <li>Support Check Mode ($C) for testing jobs before actually running them. Type $C in Terminal to toggle it</li>
    <li>Leverage native Octoprint logic for hosting the webcam</li>
    <li>Numerous bug fixes</li>
  </ul>
  <br>
  <h3>In Need of Help?</h3>
  Visit the <a href="https://github.com/synman/Octoprint-Bettergrblsupport/wiki" target="_blank">Better Grbl Support</a> Github page and open an issue, participate in a discusion, and/or read the wiki.  There is also a Facebook group you can join called <a href="https://www.facebook.com/groups/1304168293366369" target="_blank">Octoprint Grbl</a>.
</div>
