<form class="form-horizontal">
	<h4>UI Options</h4>
	<hr>
		<div class="control-group">
				<div class="controls">
						<label class="checkbox">
						<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.reOrderTabs"> Grbl Control is always first tab *
						<br>
						<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.hideTempTab"> Hide the Octoprint Temperature tab *
						<br>
						<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.hideGCodeTab"> Hide the Octoprint GCode Viewer tab *
						<br>
						<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.showZ"> Show Z Axis on Grbl Control tab
						<br>
						<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.hideControlTab"> Hide the Octoprint Control tab *
						<!-- ko ifnot: settings.settings.plugins.bettergrblsupport.hideControlTab -->
							<br>
							<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.customControls"> Add Laser Controls and State to Control tab *
						<!-- /ko -->
						</label>
				</div>
		</div>

		<h4>Grbl Options</h4>
		<hr>
		<label class="control-label">Hello Command</label>
		<div class="controls">
				<input type="text" class="input-mini" data-bind="value: settings.settings.plugins.bettergrblsupport.hello">
				<br>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.suppressM115"> Replace M115 requests with above
				</label>
		</div>

		<br>

		<div class="control-group">
			<label class="control-label">Status Command</label>
			<div class="controls">
					<input type="text" class="input-mini" data-bind="value: settings.settings.plugins.bettergrblsupport.statusCommand">
					<br>
					<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.suppressM105"> Replace M105 requests with above
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.disablePolling"> Disable status polling while printing
					</label>
			</div>
		</div>

		<label class="control-label">Position Command</label>
		<div class="controls">
				<input type="text" class="input-mini" data-bind="value: settings.settings.plugins.bettergrblsupport.positionCommand">
				<br>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.suppressM114"> Replace M114 requests with above
				</label>
		</div>

		<br>

		<label class="control-label">Dwell Command</label>
		<div class="controls">
				<input type="text" class="input-mini" data-bind="value: settings.settings.plugins.bettergrblsupport.dwellCommand">
				<br>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.suppressM400"> Replace M400 requests with above
				</label>
				<br>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.doSmoothie"> Smoothieware Support (EXPERIMENTAL)
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.suppressM110"> Suppress M110 requests
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.disableModelSizeDetection"> Disable Model Size Detection *
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.neverSendChecksum"> Never Send Checksums *
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.disablePrinterSafety"> Disable Printer Safety Check Plugin *
					<br>
					<br>
					<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.ignoreErrors"> Ignore Firmware Errors (NOT RECOMMENDED)
				</label>
		</div>

		<br>

		<label class="control-label">Weak Laser Intensity</label>
		<div class="controls">
				<input type="text" class="input-mini" data-bind="value: settings.settings.plugins.bettergrblsupport.weakLaserValue">
		</div>

		<br>

    <label class="control-label">Air Assist Overrides</label>
		<br>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.overrideM8"> Suppress M8 Command
			</label>
			<!-- ko if: settings.settings.plugins.bettergrblsupport.overrideM8 -->
					<label>And Execute:</label>
	        <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.bettergrblsupport.m8Command">
					<br><br>
			<!-- /ko -->
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.settings.plugins.bettergrblsupport.overrideM9"> Suppress M9 Command
			</label>
			<!-- ko if: settings.settings.plugins.bettergrblsupport.overrideM9 -->
					<label>And Execute:</label>
	        <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.bettergrblsupport.m9Command">
					<br><br>
			<!-- /ko -->
		</div>

		<br>
		<br>
		<p>* Server restart is required for this setting change to take effect</p>
		<br>
		<h4>Grbl Settings</h4>
		<hr>
		<center>
			<table width=90% border=0 cellpadding=3>
				<thead>
					<tr>
						<th align="center" width=10%>Id</th>
						<th align="center" width=20%>Value</th>
						<th align="left" width=70%>Description</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: grblSettings">
					<tr>
						<td align="center" data-bind="text: id"></td>
						<!-- <td align="center"><input type="text" class="input-min" data-bind="value: value" onchange="updateSetting('boo','hoo')"></td> -->
						<td align="center"><input type="text" class="input-min" data-bind="numeric, value: value, event: { change: $parent.updateSetting(id, value, oldvalue) }"></td>
						<!-- <td data-bind="text: value"></td> -->
						<td align="left" data-bind="text: description"></td>
					</tr>
				</tbody>
				<tr><td colspan=3>&nbsp;</td></tr>
				<tr>
					<td colspan=2>
						<button class="btn" data-bind="enable: is_operational() && !is_printing(), click: function() { backupSettings() }">Backup Settings</button>
					</td>
					<td align="right">
						<button class="btn" data-bind="enable: is_operational() && !is_printing() && settings.settings.plugins.bettergrblsupport.grblSettingsBackup().length > 0, click: function() { restoreSettings() }">Restore Settings</button>
					</td>
				</tr>
			</table>

		</center>

</form>
