<h5>&nbsp;Framing</h5>

<div id="framing_panel" style="text-align: center; overflow: hidden; margin: 10px 10px 10px 10px;" valign="top">
  <span style="margin: 0px 10px 0px 10px; display: inline-block; vertical-align: bottom; border: 1px solid; border-radius: 15px">
     <table>
        <tr>
           <td style="padding: 0px 0px 0px 10px;" align="left">Length</td>
           <td style="padding: 10px 10px 0px 10px; vertical-align: middle;">
              <input type="number" step="1.0" class="input-mini text-right" data-bind="value: length" placeholder="100">mm
           </td>
        </tr>
        <tr>
           <td colspan=2>&nbsp;</td>
        </tr>
        <tr>
           <td  style="padding: 0px 0px 0px 10px;" align="left">&nbsp;Width</td>
           <td style="padding: 0px 10px 0px 10px; vertical-align: middle;">
              <input type="number" step="1.0" class="input-mini text-right" data-bind="value: width" placeholder="100">mm
           </td>
        </tr>
     </table>
  </span>

  <span style="margin: 10px 10px 0px 10px; display: inline-block; vertical-align: middle;">
     <table width="200px" border=0 cellpadding=0>
        <tr>
           <td align="center" valign="bottom" style="padding: 10px 0px 0px 0px;">
              <label>Starting Position</label>
           </td>
        </tr>
        <tr>
           <td align="center">
              <table style="border: 1px solid;" >
                 <tr>
                    <td>
                       <table border=0 align="center" id="radio_buttons">
                          <tr>
                             <td align="center" style="padding: 0px 10px 10px 10px;" valign="middle"><input id="grblTopLeft" name="frameOrigin" type="radio"/></td>
                             <td align="center" style="padding: 0px 20px 10px 20px;" valign="middle"><input id="grblTopCenter" name="frameOrigin" type="radio"/></td>
                             <td align="center" style="padding: 0px 10px 10px 10px;" valign="middle"><input id="grblTopRight" name="frameOrigin" type="radio"/></td>
                          </tr>
                          <tr>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblCenterLeft" name="frameOrigin" type="radio"/></td>
                             <td align="center" style="padding: 10px 20px 10px 20px;" valign="middle"><input id="grblCenter" name="frameOrigin" type="radio" checked/></td>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblCenterRight" name="frameOrigin" type="radio"/></td>
                          </tr>
                          <tr>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblBottomLeft" name="frameOrigin" type="radio"/></td>
                             <td align="center" style="padding: 10px 20px 10px 20px;" valign="middle"><input id="grblBottomCenter" name="frameOrigin" type="radio"/></td>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblBottomRight" name="frameOrigin" type="radio"/></td>
                          </tr>
                       </table>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </span>

  <span id="frame_button" style="margin: 30px 10px 0px 10px; display: inline-block; vertical-align: middle;" >
    <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle', click: function() { doFrame() }">Draw Frame</button>
  </span>
</div>

<hr>

<!-- ko if: settings.settings.webcam.webcamEnabled -->
<div id="webcam_container_framing">
   <div id="webcam_rotator_framing" data-bind="css: { webcam_rotated: settings.webcam_rotate90(), webcam_unrotated: !settings.webcam_rotate90() }">
      <div class="webcam_fixed_ratio" data-bind="css: webcamFrameRatioClass">
         <div id="webcam_div" class="webcam_fixed_ratio_inner">
            <img id="webcam_image_framing" data-bind="click: function() { fsClick() }, css: { flipH: settings.webcam_flipH(), flipV: settings.webcam_flipV() }, event: { load: onWebcamFrameLoaded, error: onWebcamFrameErrored }">
         </div>
      </div>
   </div>
</div>
<hr>
<!-- /ko -->

<h5>&nbsp;Control</h5>

<div id="control_panel" style="text-align: center; overflow: hidden; margin: 0px 10px 0px 10px;" valign="top" align="center">
   <span style="display: inline-block; border: 1px solid; border-radius: 10px; margin: 0px 20px 20px 20px; vertical-align: middle;">
      <table align="center" style="margin: 0 auto; margin: 5px 5px 5px 5px;">
        <tr>
           <td style="padding: 5px 10px 0px 5px;" align="right" valign="middle">Mode</td>
           <td style="padding: 5px 5px 0px 5px;" align="right" valign="middle" width="60px"><strong data-bind="text: mode()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 0px 5px;" align="right" valign="middle">State</td>
           <td style="padding: 3px 5px 0px 5px;" align="right" valign="middle"><strong data-bind="text: state()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 0px 5px;" align="right" valign="middle">X</td>
           <td style="padding: 3px 5px 0px 5px;" align="right" valign="middle"><strong data-bind="text: xPos()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 0px 5px;" align="right" valign="middle">Y</td>
           <td style="padding: 3px 5px 0px 5px;" align="right" valign="middle"><strong data-bind="text: yPos()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 0px 5px;" align="right" valign="middle">Z</td>
           <td style="padding: 3px 5px 0px 5px;" align="right" valign="middle"><strong data-bind="text: zPos()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 0px 5px;" align="right" valign="middle">Power</td>
           <td style="padding: 3px 5px 0px 5px;" align="right" valign="middle"><strong data-bind="text: power()"></strong></td>
        </tr>
        <tr>
           <td style="padding: 3px 10px 5px 5px;" align="right" valign="middle">Speed</td>
           <td style="padding: 3px 5px 5px 5px;" align="right" valign="middle"><strong data-bind="text: speed()"></strong></td>
        </tr>
      </table>
   </span>

   <span style="display: inline-block; margin: 0px 20px 20px 20px; vertical-align: middle;">
      <table class="jog-panel" id="jog_panel" border=0 style="margin: 0 auto;"">
        <tr>
          <td colspan=2 align="center">
            <span class="btn-group" data-toggle="buttons-radio" style="margin: 0px 0px 10px 0px;">
               <!-- ko foreach: origin_axes -->
                <button type="button" class="btn origin_axis" style="border: 1px solid;" data-bind="click: function() { $root.origin_axis($data) }, text: $data, css: { active: $root.origin_axis() === $data }"></button>
               <!-- /ko -->
            </span>
          </td>
        </tr>
         <tr>
            <td>
               <h5>Z</h5>
            </td>
            <td style="padding: 0px 0px 10px 20px;" align="left">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle', click: function() { sendCommand('origin') }">
               <i class="fa fa-crosshairs"></i>
               </button>
            </td>
         </tr>
         <tr>
            <td style="padding: 0px 0px 10px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('up')}">
                 <i class="fa fa-arrow-up"></i>
               </button>
            </td>
            <td style="padding: 0px 0px 10px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('northwest')}">
                 <i class="fa fa-arrow-up" style="transform: rotate(-45deg);"></i>
               </button>
               <button class="btn box" style="border: 1px solid; margin: 0px 5px 0px 5px; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('north')}">
                 <i class="fa fa-arrow-up"></i>
               </button>
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('northeast')}">
                 <i class="fa fa-arrow-up" style="transform: rotate(45deg);"></i>
               </button>
            </td>
         </tr>
         <tr>
            <td style="padding: 0px 0px 10px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle', click: function() {moveHead('probez')}">
                 <i class="fa fa-search-plus"></i>
               </button>
            </td>
            <td style="padding: 0px 0px 10px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('west')}">
                 <i class="fa fa-arrow-left"></i>
               </button>
               <button class="btn box" style="border: 1px solid; margin: 0px 5px 0px 5px; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle', click: function() {moveHead('home')}">
                 <i class="fa fa-home"></i>
               </button>
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('east')}">
                 <i class="fa fa-arrow-right"></i>
               </button>
            </td>
         </tr>
         <tr>
            <td style="padding: 0px 0px 20px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('down')}">
               <i class="fa fa-arrow-down"></i>
               </button>
            </td>
            <td style="padding: 0px 0px 20px 0px;">
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('southwest')}">
               <i class="fa fa-arrow-down" style="transform: rotate(45deg);"></i>
               </button>
               <button class="btn box" style="border: 1px solid; margin: 0px 5px 0px 5px; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('south')}">
               <i class="fa fa-arrow-down"></i>
               </button>
               <button class="btn box" style="border: 1px solid; width: 40px; height: 40px" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Jog'), click: function() {moveHead('southeast')}">
               <i class="fa fa-arrow-down" style="transform: rotate(-45deg);"></i>
               </button>
            </td>
         </tr>
         <tr>
            <td colspan=2 class="distance">
              <span>
                <button type="button" class="btn" style="border: 1px solid; width: 35px; margin: 5px 2px 5px 0px" data-bind="click: function() { operatorClicked() }, text: operator"></button>
              </span>
               <span align="center" class="btn-group">
                  <!-- ko foreach: distances -->
                    <button type="button" class="btn dist" style="border: 1px solid; margin: 5px 0px 5px 0px" data-bind="click: function() { $parent.distanceClicked($data) }, text: $data "></button>
                  <!-- /ko -->
               </span>
               <span>
                 <input type="number" value="100" style="border: 1px solid; border-radius: 5px; height: 18px; width: 50px; margin: 5px 0px 5px 2px" data-bind="textInput: distance"></button>
               </span>
            </td>
         </tr>
      </table>
   </span>

   <span id="laser_buttons" style="display: inline-block; vertical-align: top; margin: 10px 20px 20px 20px" >
      <!-- ko if: settings.settings.plugins.bettergrblsupport.laserMode -->
        <button id="grblLaserButton" class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle', click: function() { toggleWeak() }">Weak Laser</button>
        <br>
        <br>
      <!-- /ko -->
      <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && (state() == 'Idle' || state() == 'Alarm'), click: function() { sendCommand('homing') }">Machine Home</button>
      <br>
      <br>
      <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing(), click: function() { sendCommand('reset') }">Soft Reset</button>
      <br>
      <br>
      <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && state() != 'Run' && state() != 'Sleep', click: function() { sendCommand('sleep') }">Sleep</button>
      <br>
      <br>
      <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && state() == 'Alarm', click: function() { sendCommand('unlock') }">Unlock</button>
      <br>
   </span>
</div>

<br>

<div id="overrides_panel" style="text-align: center; overflow: hidden; margin: 0px 10px 0px 10px;" valign="top" align="center">
  <span id="grbl-control-jog-zy-feedrate" style="border: 1px solid; border-radius: 10px; display: inline-block; vertical-align: top; padding: 10px 20px 20px 20px; margin: 10px 20px 10px 20px;">
      <label>Feed Rate Modifier</label>
      <span class="input-append control-box">
          <input type="number" class="input-mini" style="width:70px;" min="1" step="1" data-bind="textInput: feedRate, event: { blur: resetFeedRateDisplay, focus: cancelFeedRateDisplayReset }, css: { pulsate_text_opacity: feedRateResetter() !== undefined }">
          <span class="add-on">%</span>
          <button class="btn" data-bind="enable: is_operational() && is_printing() && feedRate(), click: function() { $root.sendCommand('feedRate') }">Set</button>
      </span>
  </span>

  <span id="grbl-control-jog-z-feedrate" style="border: 1px solid; border-radius: 10px; display: inline-block; vertical-align: top; padding: 10px 20px 20px 20px; margin: 10px 20px 10px 20px;">
      <label>Plunge Rate Modifier</label>
      <span class="input-append control-box">
          <input type="number" class="input-mini" style="width:70px;" min="1" step="1" data-bind="textInput: plungeRate, event: { blur: resetPlungeRateDisplay, focus: cancelPlungeRateDisplayReset }, css: { pulsate_text_opacity: plungeRateResetter() !== undefined }">
          <span class="add-on">%</span>
          <button class="btn" data-bind="enable: is_operational() && is_printing() && plungeRate(), click: function() { $root.sendCommand('plungeRate') }">Set</button>
      </span>
  </span>

  <span id="grbl-control-jog-flowrate" style="border: 1px solid; border-radius: 10px; display: inline-block; vertical-align: top; padding: 10px 20px 20px 20px; margin: 10px 20px 10px 20px;">
      <label>Spindle / Power Modifier</label>
      <span class="input-append control-box">
          <input type="number" class="input-mini" style="width:70px;" min="1" step="1" data-bind="textInput: powerRate, event: { blur: resetPowerRateDisplay, focus: cancelPowerRateDisplayReset }, css: { pulsate_text_opacity: powerRateResetter() !== undefined }">
          <span class="add-on">%</span>
          <button class="btn" data-bind="enable: is_operational() && is_printing() && powerRate(), click: function() { $root.sendCommand('powerRate') }">Set</button>
      </span>
  </span>
</div>
