<div id="framing_panel" style="text-align: center; overflow: hidden;" valign="top">
  <span style="margin: 5px 5px 5px 5px; display: inline-block; vertical-align: bottom; border: 1px solid; border-radius: 15px">
     <table>
        <tr>
           <td style="padding: 0px 0px 0px 10px;" align="left">Length</td>
           <td style="padding: 10px 10px 0px 10px; vertical-align: middle; white-space: nowrap;">
              <input type="number" step="1.0" class="input-mini text-right" data-bind="value: length, event: { focus: function(d, e) {$root.handleFocus(e, 'target', $data) } }" placeholder="100">mm
           </td>
        </tr>
        <tr>
           <td colspan=2>&nbsp;</td>
        </tr>
        <tr>
           <td  style="padding: 0px 0px 0px 10px;" align="left">&nbsp;Width</td>
           <td style="padding: 5px 10px 0px 10px; vertical-align: middle; white-space: nowrap;">
              <input type="number" step="1.0" class="input-mini text-right" data-bind="value: width, event: { focus: function(d, e) {$root.handleFocus(e, 'target', $data) } }" placeholder="100">mm
           </td>
        </tr>
     </table>
  </span>

  <span style="margin: 5px 5px 5px 5px; display: inline-block; vertical-align: middle;">
     <table border=0 cellpadding=0>
        <tr>
           <td align="center" valign="bottom">
              <label>Starting Position</label>
           </td>
        </tr>
        <tr>
           <td align="center">
              <table style="border: 1px solid;" >
                 <tr>
                    <td>
                       <table border=0 align="center" id="radio_buttons">
                          <tr>
                             <td align="center" style="padding: 0px 10px 10px 10px;" valign="middle"><input id="grblTopLeft" name="frameOrigin" data-bind="click: function() { originChanged('grblTopLeft');return true; }" type="radio"/></td>
                             <td align="center" style="padding: 0px 20px 10px 20px;" valign="middle"><input id="grblTopCenter" name="frameOrigin" data-bind="click: function() { originChanged('grblTopCenter');return true; }" type="radio"/></td>
                             <td align="center" style="padding: 0px 10px 10px 10px;" valign="middle"><input id="grblTopRight" name="frameOrigin" data-bind="click: function() { originChanged('grblTopRight');return true; }" type="radio"/></td>
                          </tr>
                          <tr>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblCenterLeft" name="frameOrigin" data-bind="click: function() { originChanged('grblCenterLeft');return true; }" type="radio"/></td>
                             <td align="center" style="padding: 10px 20px 10px 20px;" valign="middle"><input id="grblCenter" name="frameOrigin" data-bind="click: function() { originChanged('grblCenter');return true; }" type="radio" checked/></td>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblCenterRight" name="frameOrigin" data-bind="click: function() { originChanged('grblCenterRight');return true; }" type="radio"/></td>
                          </tr>
                          <tr>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblBottomLeft" name="frameOrigin" data-bind="click: function() { originChanged('grblBottomLeft');return true; }" type="radio"/></td>
                             <td align="center" style="padding: 10px 20px 10px 20px;" valign="middle"><input id="grblBottomCenter" name="frameOrigin" data-bind="click: function() { originChanged('grblBottomCenter');return true; }" type="radio"/></td>
                             <td align="center" style="padding: 10px 10px 10px 10px;" valign="middle"><input id="grblBottomRight" name="frameOrigin" data-bind="click: function() { originChanged('grblBottomRight');return true; }" type="radio"/></td>
                          </tr>
                       </table>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </span>

  <span id="frame_button" style="margin: 0px 10px 10px 10px; display: inline-block; vertical-align: middle;" >
    <br>
    <button class="btn" style="width: 145px; border: 1px solid;" data-bind="enable: is_operational() && !is_printing() && state() == 'Idle' || state() == 'Check', click: function() { doFrame() }">Draw Frame</button>
  </span>
</div>
