
#tab_plugin_bettergrblsupport {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: 100%;
}

.fullscreen img {
	left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
