
#tab_plugin_bettergrblsupport {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: 100%;
}

.fullscreen img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
	max-height: 100vh;
	max-width: 100vw;
}
